@media (max-width: 1370px) {
  .top-container {
    #main-view-container {
      #main-content {
        .albums {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  .top-container {
    #main-view-container {
      #main-content {
        .albums {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-form {
    .container {
      .features {
        h1 {
          font-size: 3rem;
        }
        .lead {
          font-size: 1.4rem;
        }
        ul li {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .top-container {
    #main-view-container {
      #main-content {
        .albums {
          .album {
            height: 150px;
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .top-container {
    #navbar {
      display: none;
    }
    #main-view-container {
      margin-left: 0;
      width: 100%;
      #main-content {
        .albums {
          grid-template-columns: repeat(3, 1fr);
        }
        #search {
          .lead {
            font-size: 1rem;
          }
          .form-group {
            .search-input {
              padding: 2rem;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .top-container {
    #main-view-container {
      #main-content {
        .albums {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .main-form {
    .container {
      .features {
        h1 {
          font-size: 2rem;
        }
        .lead {
          font-size: 1.2rem;
        }
        ul li {
          font-size: 0.85rem;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .main-form {
    .container {
      .features {
        h1 {
          font-size: 1.7rem;
        }
        .lead {
          font-size: 0.95rem;
        }
        ul li {
          font-size: 0.7rem;
          i {
            font-size: 1.4rem;
            padding-right: 0.3rem;
          }
        }
      }
    }
  }
  .top-container {
    #main-view-container {
      #main-content {
        .albums {
          .album {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}
