@import 'responsive';

$primary-color: #07d159;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #181818;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}

.form-header {
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.main-form {
  display: flex;
  align-items: center;
  background: url('../img/bg.jpg') no-repeat center center/cover;
  outline: none;
  min-height: 100vh;
  color: #fff;
  @-webkit-keyframes autofill {
    0%,
    100% {
      color: #fff;
      background: transparent;
    }
  }
  input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  .form-control {
    color: #fff;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ccc;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ccc;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #ccc;
    }
    &:focus {
      outline: none;
    }
  }
  .btn {
    border-radius: 20px;
    text-transform: uppercase;
  }
  p {
    a {
      color: $primary-color;
    }
  }
  .features {
    h1 {
      color: $primary-color;
      font-size: 3.8rem;
      font-weight: bold;
    }
    .lead {
      font-size: 1.6rem;
    }
    ul {
      padding: 0;
      li {
        font-size: 20px;
        list-style-type: none;

        i {
          color: $primary-color;
          font-size: 2rem;
          padding-right: 0.5rem;
        }
      }
    }
  }
}

.errorMessage {
  color: #ff0000;
}

#main {
  .top-container {
    min-height: 100%;
    min-width: 100%;
    #navbar {
      padding: 1rem;
      background: #000;
      width: 220px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      letter-spacing: 1px;
      .logo {
        color: #fff;
        font-size: 1.5rem;
        padding: 2rem 0;
        i {
          color: $primary-color;
        }
      }
      .search {
        border-top: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        margin: 1rem 0;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      ul li {
        list-style: none;
        padding: 10px 0;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        transition: all 200ms linear;
        &:hover {
          border-color: $primary-color;
          color: $primary-color;
        }
      }
    }
    #main-view-container {
      margin-left: 220px;
      padding-bottom: 108px;
      width: calc(100% - 220px);
      #main-content {
        padding: 1rem;
        .page-heading {
          text-align: center;
          margin-bottom: 1.5rem;
        }
        .albums {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .album {
            margin: 1rem;
            height: 200px;
            width: 200px;
            a {
              color: #fff;
              text-decoration: none;
              &:hover {
                text-decoration: none;
              }
            }
            .album-info {
              font-weight: 300;
              text-align: center;
              padding: 5px 0;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
        .entity {
          img {
            margin: 2rem 2rem 2rem 0;
          }
          .entity-info {
            display: inline-block;
            p {
              color: #939393;
              font-weight: 200;
              margin-bottom: 0.5rem;
            }
          }
        }
        .track-list-container {
          .track-list {
            padding: 0;
            .track-list-row {
              &:hover {
                background: #282828;
                .track-count {
                  i {
                    display: block;
                  }
                  .track-number {
                    display: none;
                  }
                }
                .track-options {
                  display: block;
                }
              }
              span {
                color: #939393;
                font-weight: 200;
              }
              padding: 15px 10px;
              list-style: none;
              display: flex;
              justify-content: space-between;
              .left-section,
              .right-section {
                display: flex;
                align-items: center;
              }
              .track-count {
                padding: 0.5rem;
                i {
                  display: none;
                  cursor: pointer;
                }
              }
              .track-info {
                margin: 0 2rem;
                .track-name {
                  color: #fff;
                }
                span {
                  display: block;
                }
              }
              .track-options {
                display: none;
                cursor: pointer;
              }
              .track-options,
              .track-duration {
                margin: 0 2rem;
              }
            }
          }
        }
      }
    }
  }

  #play-bar-container {
    width: 100%;
    background: #282828;
    .play-bar {
      padding: 0.5rem;
      color: #a0a0a0;
      .control-btn.active {
        color: $primary-color;
        &:hover {
          color: $primary-color;
        }
      }
      .control-btn {
        font-size: 1.5rem;
        color: #a0a0a0;
        border: none;
        background: none;
        outline: none;
        transition: all 200ms linear;
        &:hover {
          color: #fff;
        }
      }
      .bar {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        width: 100%;
        height: 12px;
        display: inline-flex;
        cursor: pointer;
        .bar-bg {
          background: #404040;
          height: 4px;
          width: 100%;
          border-radius: 2px;
          .bar-progress {
            background: #a0a0a0;
            width: 0;
            height: 4px;
            border-radius: 2px;
          }
        }
      }
      .album {
        padding: 1rem;
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        .album-art {
          height: 60px;
          width: 60px;
          object-fit: cover;
          margin-right: 1rem;
        }
        .track-info {
          .artist-name {
            font-size: 12px;
            color: #a0a0a0;
          }
        }
      }
      .player-controls {
        padding: 0 1rem;
        .buttons {
          display: flex;
          justify-content: center;
          .play,
          .pause {
            font-size: 2.5rem;
          }
        }
        .playback-bar {
          display: flex;
          .progress-time {
            font-size: 11px;
            text-align: center;
          }
        }
      }
      .volume {
        padding: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        .volume-btn {
          width: 1rem;
          font-size: 1rem;
        }
      }
    }
  }
}
