@import 'responsive';

$primary-color: #07d159;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-header {
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.main-form {
  display: flex;
  align-items: center;
  background: url('../img/bg.jpg') no-repeat center center/cover;
  outline: none;
  min-height: 100vh;
  color: #fff;
  @-webkit-keyframes autofill {
    0%,
    100% {
      color: #fff;
      background: transparent;
    }
  }
  input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  .form-control {
    color: #fff;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }
  .btn {
    border-radius: 20px;
    text-transform: uppercase;
  }
  p {
    a {
      color: $primary-color;
    }
  }
  .features {
    h1 {
      color: $primary-color;
      font-size: 3.8rem;
      font-weight: bold;
    }
    .lead {
      font-size: 1.6rem;
    }
    ul {
      padding: 0;
      li {
        font-size: 20px;
        list-style-type: none;

        i {
          color: $primary-color;
          font-size: 2rem;
          padding-right: 0.5rem;
        }
      }
    }
  }
}

.errorMessage {
  color: #ff0000;
}

#main {
  .top-container {
    min-height: 100%;
    min-width: 100%;
    #navbar {
      padding: 1rem;
      background: #000;
      width: 220px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      letter-spacing: 1px;
      a {
        color: #a0a0a0;
        transition: all 200ms linear;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
      .logo {
        color: #fff;
        font-size: 1.5rem;
        padding: 2rem 0;
        i {
          transition: all 200ms linear;
        }
        &:hover {
          i {
            color: $primary-color;
          }
        }
      }
      .search {
        border-top: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        margin: 1rem 0;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        &:hover {
          border-color: #fff;
          a {
            color: #fff;
          }
        }
      }
      ul li {
        list-style: none;
        padding: 10px 0;
        a {
          font-weight: 700;
        }
      }
    }
  }

  #play-bar-container {
    width: 100%;
    background: #282828;
    .play-bar {
      color: #a0a0a0;
      padding: 1rem;
      .control-btn {
        font-size: 1.5rem;
        color: #a0a0a0;
        border: none;
        background: none;
        outline: none;
        transition: all 200ms linear;
        &:hover {
          color: #fff;
        }
      }
      .bar {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        width: 100%;
        height: 12px;
        display: inline-flex;
        cursor: pointer;
        .bar-bg {
          background: #404040;
          height: 4px;
          width: 100%;
          border-radius: 2px;
          .bar-progress {
            background: #a0a0a0;
            width: 0;
            height: 4px;
            border-radius: 2px;
          }
        }
      }
      .album {
        padding: 1rem 0;
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        .album-art {
          height: 60px;
          width: 60px;
          object-fit: cover;
          margin-right: 1rem;
        }
        .track-info {
          .artist-name {
            font-size: 12px;
            color: #a0a0a0;
          }
        }
      }
      .player-controls {
        padding: 0 1rem;
        .buttons {
          display: flex;
          justify-content: center;
          .play,
          .pause {
            font-size: 2.5rem;
          }
        }
        .playback-bar {
          display: flex;
          .progress-time {
            font-size: 11px;
            text-align: center;
          }
        }
      }
      .volume {
        padding: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        .volume-btn {
          font-size: 1rem;
          padding: 0;
        }
        .bar {
          padding-right: 1.3rem;
          .bar-bg {
            .bar-progress {
            }
          }
        }
      }
    }
  }
}
